.header {
	padding-top: 1.2em;
	padding-bottom: 1.2em;

	transition-property: padding-top, padding-bottom;
	transition-duration: 100ms;
	transition-timing-function: ease-out;

	& .title,
	& p {
		max-width: 42rem;
	}
}

.title {
	font-size: 1.1em;
	margin-bottom: 0.4rem;

	& a {
		color: inherit;
		text-decoration: none;
	}
}

.social-media {

	& a + a {
		margin-left: 1em;
	}
}

@media screen and (min-height: 30rem) {

	.header {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}
