.header {
	padding-top: 1.2em;
	padding-bottom: 1.2em;

	transition-property: padding-top, padding-bottom;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.title {
	font-size: 1.1em;
	margin-bottom: 0.4rem;

	& a {
		color: inherit;
		text-decoration: none;
	}
}

.social-media {

	& a {
		margin-right: 1em;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 639px) {

	.header {
		padding-top: 0.65em;
		padding-bottom: 0.65em;
	}
}