@import "../../css/_variables.css";

.header {
	font-family: var(--sans-serif-font-family);
	padding-top: 1.2em;
	padding-bottom: 1.2em;

	transition-property: padding-top, padding-bottom;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

.header-wrapper {
	margin-top: 0.3rem;
	margin-bottom: 0.4rem;

	& .title,
	& .navigation {
		line-height: 1.5;
	}

	& .title {
		float: left;
	}

	& .navigation {
		float: right;
		padding-top: 0.05em;
	}

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.navigation {

	& a {
		color: var(--text-color);
	}

	& a:not(:last-of-type) {
		margin-right: 1em;
	}
}

@media screen and (min-width: 360px) {

	.navigation a:not(:last-of-type) {
		margin-right: 1.8em;
	}
}

.content-wrapper {
	max-width: var(--content-width);
}

.title {
	font-size: 1.1rem;
	margin-top: 0;

	& a {
		color: inherit;
		text-decoration: none;
	}
}

.links {

	& a {
		margin-right: 1em;
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 639px) {

	.header {
		padding-top: 0.65em;
		padding-bottom: 0.65em;
	}
}