:root {
	--text-color: #221A2A;
	--link-color: #0099FF;
	--link-color--hover: #0077C7;
	--link-color--active: #00395F;
	--focus-color: var(--link-color);
	--accent-color: #F0E8F0;
	--grayed-color: #968796;
	--grayed-color--hover: color(var(--grayed-color) shade(20%));
	--grayed-color--active: color(var(--grayed-color) shade(60%));

	--sans-serif-font-family: "Source Sans Pro";
	--serif-font-family: "Source Serif Pro";

	--content-width: 36rem;
	--meta-font-size: 0.8rem;
	--meta-font-family: var(--sans-serif-font-family);

	--image-box-shadow: rgba(0, 0, 0, 0.16) 0 4px 48px -6px,
	                    rgba(0, 0, 0, 0.04) 0 0 2px,
	                    rgba(0, 0, 0, 0.03) 0 0 0 1px;
	--link-box-shadow: 0 1px 0;

	--cubic-bezier-fade-in: cubic-bezier(0.32, 0.89, 0.55, 1.0);
}

@keyframes fadeIn {
	  0% { opacity: 0; }
	100% { opacity: 1; }
}
