:root {
	--text-color: #221A2A;
	--link-color: #0099FF;
	--link-color--hover: #0077C7;
	--link-color--active: #00395F;
	--focus-color: var(--link-color);
	--accent-color: #F0E8F0;
	--grayed-color: #968796;
	--grayed-color--hover: color(var(--grayed-color) shade(20%));
	--grayed-color--active: color(var(--grayed-color) shade(60%));

	--font-family-sans-serif: "Source Sans Pro";
	--font-family-serif: "Source Serif Pro";

	--content-width: 36rem;
	--meta-font-size: 0.8rem;
	--meta-font-family: var(--font-family-sans-serif);
}
