@import "_variables.css";

html {
	box-shadow: inset 0 4px var(--accent-color);
}

a {
	text-decoration: none;
	color: var(--link-color);
	transition: color 100ms linear;

	&:hover {
		color: var(--link-color--hover);
	}

	&:active {
		color: var(--link-color--active);
	}
}

p > a {
	border-bottom: 1px solid currentColor;
}

@media screen and (max-width: 640px) {

	html {
		font-size: 100%;
	}
}

@media screen and (min-width: 1400px) {

	html {
		font-size: 125%;
	}
}
