@import "_variables.css";

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 1.2em;
	padding-right: 1.2em;

	transition-property: padding-left, padding-right;
	transition-duration: 100ms;
	transition-timing-function: ease-out;
}

@media screen and (min-width: 639px) {

	.container {
		padding-left: 1.8em;
		padding-right: 1.8em;
	}
}

.text-wrapper {
	max-width: var(--content-width);
}
