@import "../../css/_variables.css";

.title {
	margin-top: 0;
	animation: fadeIn 400ms 100ms var(--cubic-bezier-fade-in) both;
}

.project-list {
	font-family: var(--sans-serif-font-family);
}

.project-item {
	animation: fadeIn 400ms var(--cubic-bezier-fade-in) both;

	&:nth-child(1n+0) { animation-delay: 100ms; }
	&:nth-child(1n+1) { animation-delay: 160ms; }
	&:nth-child(1n+2) { animation-delay: 220ms; }
	&:nth-child(1n+3) { animation-delay: 280ms; }
	&:nth-child(1n+4) { animation-delay: 340ms; }
	&:nth-child(1n+5) { animation-delay: 400ms; }
	&:nth-child(1n+6) { animation-delay: 460ms; }
	&:nth-child(1n+7) { animation-delay: 520ms; }
	&:nth-child(1n+8) { animation-delay: 580ms; }

	& a {
		color: inherit;
		display: block;
	}

	& .title {
		font-size: 1.0em;
		line-height: inherit;
		font-weight: inherit;
		margin-top: 0.55rem;
		margin-bottom: 0;
	}

	& .meta {
		color: var(--grayed-color);
		font-size: var(--meta-font-size);
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 499px) {

	.project-list .project-item + .project-item {
		margin-top: 6%;
	}
}

@media screen and (min-width: 500px) {

	.project-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		& .project-item {
			display: flex-item;
		}
	}
}

@media screen and (min-width: 500px) and (max-width: 800px) {

	.project-list {
		margin-left: -1.5%;
		margin-right: -1.5%;

		& .project-item {
			flex-basis: 47%;
			margin-bottom: 2rem;
			margin-left: 1.5%;
			margin-right: 1.5%;
		}
	}
}

@media screen and (min-width: 801px) {

	.project-list {
		margin-left: -1.166665%;
		margin-right: -1.166665%;
		
		& .project-item {
			flex-basis: 31%;
			margin-bottom: 2rem;
			margin-left: 1.166665%;
			margin-right: 1.166665%;
		}
	}
}
