@import 'tailwindcss';

@theme {
	--font-sans: 'iA Writer Duo', monospace;
	--font-mono: 'iA Writer Mono', monospace;

	--color-black: #000;
	--color-gray: #222;
	--color-light-gray: #999;
	--color-white: #eee;
	--color-blue: var(--color-blue);
}

@import url('./prism-styles.css');

:is(p, li) a {
	text-decoration: underline;
	text-underline-offset: 4px;
}

:root {
	--color-blue: #1300ed;
}

@supports (color: color(display-p3 0 0 0)) {
	:root {
		--color-blue: color(display-p3 0.0745 0 0.93);
	}
}

::selection {
	background-color: var(--color-blue);
	color: white;
}
