@import "../../css/_variables.css";

.title {
	margin-bottom: 0;
}

.meta {
	color: var(--grayed-color);
	margin: 0.3em 0 1em;
	font-family: var(--meta-font-family);
	font-size: var(--meta-font-size);
}

.meta-item {
	margin-right: 1em;
}

.meta-label {
}

.meta-value {
	font-weight: 600;
}

a.meta-value {
	color: var(--grayed-color);

	&:hover {
		color: var(--grayed-color--hover);
	}

	&:active {
		color: var(--grayed-color--active);
	}
}

.visit-link {
	position: relative;
	padding-right: 0.1em;

	&::after {
		content: "→";
		position: absolute;
		top: -0.1em;
		right: -1.1em;
	}
}