@import "../../css/_variables.css";

.project {
	animation: fadeIn 400ms ease-out both;
}

.title {
	margin-bottom: 0;
}

.meta {
	color: var(--grayed-color);
	margin: 0.3em 0 1em;
	font-family: var(--meta-font-family);
	font-size: var(--meta-font-size);
}

.meta-item {
	display: inline-block;
	white-space: nowrap;

	&:not(:last-of-type) {
		margin-right: 1em;
	}
}

.meta-label {
}

.meta-value {
	font-weight: 600;
}

a.meta-value {
	color: var(--grayed-color);
	box-shadow: 0 1px 0;

	&:hover {
		color: var(--grayed-color--hover);
	}

	&:active {
		color: var(--grayed-color--active);
	}
}

.links {
	border-top: 1px solid var(--accent-color);
	margin-top: 2em;
	padding-top: 0.5em;
}

.link {
	color: var(--link-color);
	position: relative;
	padding-right: 0.1em;
	font-family: var(--sans-serif-font-family);

	&::after {
		content: "→";
		position: absolute;
		top: -0.1em;
		right: -1.1em;
	}
}

.video-embed {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

.images {
	margin-bottom: 4.5rem;
}

.image {
	margin: 1.2rem 0;
	transition: margin 100ms ease-out;
	box-shadow: var(--image-box-shadow);
}

@media screen and (min-width: 639px) {

	.image {
		margin: 1.8rem 0;
	}
}
