@import "../../css/_variables.css";

.block {
	min-height: 55vmin;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
	line-height: 1.5;
	padding-top: 0.75rem;
	padding-bottom: 1.5rem;
	animation: fadeIn 500ms ease-out both;

	& > p {
		max-width: 30em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

@media screen and (max-width: 399px) {

	.block {
		font-size: 1.1rem;
	}
}
