@import "../../css/_variables.css";

.block {
	min-height: 55vmin;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
	line-height: 1.5;
	padding-top: 1rem;
	padding-bottom: 1rem;
	animation: fadeIn 400ms ease-out both;

	& > p {
		max-width: 30em;
	}
}
