@import "../../css/_variables.css";

.footer {
	color: var(--grayed-color);
	background-color: var(--accent-color);
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
	padding-top: 4.4rem;
	padding-bottom: 12rem;

	text-align: center;
	font-size: var(--meta-font-size);
	font-family: var(--meta-font-family);

	& a {
		color: var(--grayed-color);
		border-bottom: color(var(--grayed-color) a(0.4)) 1px solid;
		box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;

		&:hover {
			color: var(--grayed-color--hover);
			border-color: color(var(--grayed-color--hover) a(0.4));
		}

		&:active {
			color: var(--grayed-color--active);
			border-color: color(var(--grayed-color--active) a(0.4));
		}
	}
}

.item {
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.5em;
}

@media screen and (max-width: 499px) {

	.footer {
		padding-top: 3.4rem;
	}
}
