@import "../../css/_variables.css";

.footer {
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	line-height: 1.4;
	border-top: var(--accent-color) solid 2px;
	font-size: var(--meta-font-size);
	font-family: var(--meta-font-family);
}

.item {
	display: inline-block;
	break-inside: avoid;
	margin-bottom: 0.5rem;

	&:not(:last-child) {
		margin-right: 1em;
	}

	& > a {
		color: var(--text-color);
		box-shadow: var(--link-box-shadow) var(--link-color);

		&:hover {
			color: var(--link-color--hover);
		}

		&:active {
			color: var(--link-color--active);
		}
	}
}

.item--main {
	font-weight: 600;
}
