.frame {
	width: 100%;
	height: 0;
	padding-top: 75%;
	position: relative;
	overflow: hidden;

	& .image {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%) scale(1.01);
	}

	& .flattened {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		z-index: 100;

		opacity: 1;
		transition: opacity 500ms linear;
	}

	&.initialized .flattened {
		opacity: 0;
	}

	&.empty {
		background-color: #4A4D52;
	}
}
