@import "../../css/_variables";

.portrait {
	max-width: 100%;
	width: 600px;
	height: auto;
}

.content {
	margin-top: 0;
}

@media (min-width: 500px) {
	.about {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.summary {
		width: 500px;
	}

	.content {
		margin-left: 1.2rem;
		margin-right: 0;
		transition: margin-left 100ms ease-out;
	}
}

@media (min-width: 639px) {
	.content {
		margin-left: 1.8rem;
	}
}
